* {
    box-sizing: border-box;
}

body, html{
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 0px -200px;
}

.flex-container {
    display: flex;
}

#main-page {
    flex-direction: column;
    align-items: center;
}

#nav-container {
    gap: 80px;
}

.nav-option {
    --edge-radius: 12px;
    --vert-padding: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 3em;
    width: 6em;
    background-color: #ecb16c;
    padding-top: var(--vert-padding);
    padding-bottom: var(--vert-padding);
    border-bottom-left-radius: var(--edge-radius);
    border-bottom-right-radius: var(--edge-radius);
}